<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="movieModalLabel">Movie Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img id="moviePoster" src="" class="img-fluid img-thumbnail" alt="Movie Poster">
                    </div>
                    <div class="col-md-8">
                        <h5 id="movieTitle">Movie Title</h5>
                        <p id="movieDescription">Description...</p>
                        <p id="movieDetails">Details...</p>
                        <input type="hidden" id="currentMovieId">
                        <div class="d-flex justify-content-center">
                            {{ movie_buttons }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
