{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block greet %}
    Change password
{% endblock %}

{% block main %}
<div class="container-page">
    <div class="bg-light form col-md-3 mb-4 p-5">
        <form action="/password" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old" placeholder="Old password" type="password">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="new" placeholder="New Password" type="password" minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                <span id="passwordHelpInline" class="form-text">
                    At least 6 characters (at least 1 number, 1 lowercase letter, 1 uppercase letter).
                </span>
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm new password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
    </div>
</div>
{% endblock %}
